<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete A Product</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/admin/user">Home Users</a>
        <a href="/admin/user/create">Create User</a>
        <a href="/admin/product">Home Products</a>
        <a href="/admin/product/create">Create Product</a>
        <a href="/admin/coupon">Home Coupons</a>
        <a href="/admin/coupon/create">Create Coupon</a>
        <a href="/admin/order">Home Orders</a>
        <a href="/admin/logout">Logout</a>
        
    </div>
    <div class="form-add-new">
        <form action="/admin/product/delete-product" method="post">
            <fieldset>
                <legend>Delete Products:</legend>
                <div class="input-group d-none">
                    <label>
                        ID:
                    </label>
                    <input 
                    type="text" 
                    name="productId" 
                    value="<%= productEdit.id %>"
                    />
                </div>

                <div class="input-group">
                    <label>
                        Are you sure to delete this Product with Name:
                    </label>
                    <input 
                    type="text" 
                    name="name" 
                    value="<%= productEdit.name %>"
                    />
                </div>
                <div>
                    <button onclick="alert('Delete product successfully')"> Confirm </button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>