<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Users</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/admin/user">Home Users</a>
        <a class="active" href="/admin/user/create">Create User</a>
        <a href="/admin/product/">Home Products</a>
        <a href="/admin/product/create">Create Product</a>
        <a href="/admin/coupon">Home Coupons</a>
        <a href="/admin/coupon/create">Create Coupon</a>
        <a href="/admin/logout">Logout</a>
        <a href="/admin/order">Home Orders</a>
    </div>
    <div class="form-add-new" id="ListContainer" style="display: none;">
        <form action="/admin/user/create-user" method="post">
            <fieldset>
                <legend>Add new Users:</legend>
                <div class="input-group">
                    <label>
                        Name:
                    </label>
                    <input type="text" name="name" />
                </div>
                <div class="input-group">
                    <label>
                        Email:
                    </label>
                    <input type="text"  name="email" />
                </div>
                <div class="input-group">
                    <label>
                        password:
                    </label>
                    <input type="text" name="password" />
                </div>
                <div class="input-group">
                    <label>
                        Confirm password:
                    </label>
                    <input type="text" name="confirmPassword" />
                </div>
                <div class="input-group">
                    <label>
                        Phone:
                    </label>
                    <input type="text" name="phone" />
                </div>
                <div>
                    <button onclick="alert('Create user successfully')"> Save </button>
                </div>
            </fieldset>
        </form>
    </div>
    <script>
        const access_token = localStorage.getItem('access_token');
        fetch('/admin/auth', {
            method: 'POST',
            headers: {
                'token': access_token,
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            if (data.message === 'Unauthorized') {
                alert('You are not authorized to access this page');
                window.location.href = '/admin';
            } else {
                document.getElementById('ListContainer').style.display = 'block';
            }
        })
        .catch(error => console.error('Error:', error));
    </script>
</body>

</html>